#texto1{
    font-family:Arial,Helvetica,sans-serif;
    font-size:28px;
    font-weight:bold;
    border:1px solid #ccc;
}
#ejemplo1{
    width:250px;
    height:35px;
    border-color:#269790;
    border-width:3px;
    border-style:groove;
    margin:10px auto;
}
#ejemplo2{
    width:800px;
    height:60px;
    border-color:#BADA60;
    border-width:4px;
    border-style:dashed;
    margin:7px auto;
    padding:15px;
 }
 #ejemplo3{
    width:800px;
    height:60px;
    border-top-color:#07EB29;
    border-left-color:red;
    border-right-color:red;
    border-bottom-color:blue;
    border-top-width:7px;
    border-left-width:8px;
    border-right-width:4px;
    border-bottom-width:2px;
    border-style:solid;
    margin:7px auto;
    padding:15px
}
#ejemplo4{
    width:800px;
    height:60px;
    border-top-color:#8E81F2;
    border-width:8px;
    border-top-style:dashed;
    border-right-style:inset;
    border-bottom-style:groove;
    border-left-style:double;
    margin:7px auto;
    padding:15px
 }
 #ejemplo5 {
     font-family: Helvetica;
     font-size: 20px;
     font-weight: bold;
     font-style: italic;
     color: #0838C7;
     width: 800PX;
     height: 60PX;
     background-color: #59e66e;
     border-style: solid;
     border-color: #f50c0c;
     border-width: 2px;
     margin: 14px auto;
     padding: 20px;
     border-radius: 14px;
 }
